<form [formGroup]="registerForm">
  <div>
    <label for="firstName">Prénom:</label>
    <input type="text" id="firstName" formControlName="firstName" />
    <div *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched">
      {{ getErrorMessage('Prénom', 'required') }}
    </div>
  </div>

  <div>
    <label for="lastName">Nom:</label>
    <input type="text" id="lastName" formControlName="lastName" />
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
      {{ getErrorMessage('Email', 'required') }}
    </div>
    <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
      {{ getErrorMessage('Email', 'email') }}
    </div>
  </div>

  <div>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
      {{ getErrorMessage('Mot de passe', 'required') }}
    </div>
  </div>

  <div>
    <label for="confirmPassword">Confirmer le mot de passe:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" />
    <div *ngIf="registerForm.hasError('confirm') && registerForm.get('confirmPassword')?.touched">
      Les mots de passe ne correspondent pas
    </div>
  </div>

  <div>
    <label for="phoneNumber">Numéro de téléphone:</label>
    <input type="text" id="phoneNumber" formControlName="phoneNumber" />
    <div *ngIf="registerForm.get('phoneNumber')?.hasError('required') && registerForm.get('phoneNumber')?.touched">
      {{ getErrorMessage('Numéro de téléphone', 'required') }}
    </div>
  </div>

  <button type="button" (click)="register()">Valider</button>
</form>
